.title{
    font-family: 'Merienda', 'cursive';
    float: "left";
}

.red{
    color:#b40101;
    size: 20px;
    float: "right";
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.changeList{
  position: absolute;
  margin: auto;
  top: 180px;
  width: 300px;
  height: 100px;
  
}

.RemoveList{
  position: absolute;
  margin-top: 45px;
  top: 0px;
  left: calc(100vw - 330px);
}

label{
  color: #fff;
  font-size: 20px;
  font-weight: 20px;
}

.pickService{
  margin: 10px auto;
}